[Desktop Entry]
Name=Caros
Exec=/usr/lib/Caros/Caros %U
Icon=/usr/share/pixmaps/Caros.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/caros;