[Desktop Entry]
Name=Caros
Exec=/usr/lib/caros/Caros %U
Icon=/usr/share/pixmaps/caros.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/caros;